  

<table>
  <% @order.order_products.each do |op| %>

  <tr>
    <td><%= op.product.name %></td>
    <td><%= number_to_currency(op.product.price) %></td>
    <td><%= image_tag op.product.image(:small) %></td>
    <td><%= button_to "Remove", product_basket_path(op.product), method: :delete %></td>
  </tr>
<tr>

  <% end %>

<tr>
  <td>Total</td>
  <td>
  <%= number_to_currency(Product.total_basket_price(basket)) %> 
  </td>

</tr>
 
</table>


<%= simple_form_for @order do |f| %>

<h3>Your details</h3>
  
  <%= f.input :first_name, required: false %>
  <%= f.input :last_name, required: false %>
  <%= f.input :email, placeholder: 'james@chippyworldwideracing.com', required: false %>

<h3>Your shipping address</h3>

  <%= f.input :address_1, required: false %>
  <%= f.input :address_2, required: false %>
  <%= f.input :city, required: false %>
  <%= f.input :postal_code, label: "Postal/Zip Code", required: false %>
  <div>
    <%= f.label :country_code, "Country", required: false %>
    <%= f.country_select :country_code, ["United Kingdom", "United States of America", "Switzerland", "Italy", "Russia"], required: false %>
  </div>
  
<h3>Your payment information</h3>

<%= if @order.errors.any?
 @order.errors[:base].to_sentence

end%>



  <%= f.input :card_number %>
  <%= f.input :security_code, label: "Security code (CVC)" %>
  <%= f.input :card_expires_on, as: :date, discard_day: true, add_month_numbers: true, start_year: Date.today.year, end_year: Date.today.year + 10, order: [:month, :year], label: "Card expiration date"  %>
  <%= f.button :submit, "Confirm and pay" %>


 
<% end %>
