<div id="flash-success">
		
<%= render "flashsuccess" %>

</div>	


<%= @product.name %>
<%= @product.price %>
<%= image_tag @product.image(:large) %>


<%= simple_form_for :basket, url: product_basket_path(@product), remote: true do |f| %>

<%= f.input :size, as: :select, collection: @product.in_stock, selected: 0, required: false, input_html: {id: "size-select"} %>

<%= f.input :quantity, as: :select, collection: stock_number(@product.sizes.first), selected: 0, required: false, input_html: {id: "quantity-select"} %>



<%= f.button :submit, "Add to basket" %>

<% end %>







