<!DOCTYPE html>
<html>
<head>
  <title>Chippy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="full" id="up">

<!--!!!!!!!!!!!!!!!NAVIGATION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
		<div class="menu">
			<nav>

        <%= link_to pluralize(basket.size, "items"), new_order_path %>
				<a class="car" href="#car">The Team</a>
				<a class="car" href="#travels">Adventures</a>
				<a class="car" href="#slider">Gallery</a>
				<!--<a class="car" href="#footer">contact Us</a> -->
				<%= link_to "Shop", products_path %>


			</nav>
		</div>


<!--!!!!!!!!!!!!!!!!LOGO PICTURE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->

		<h1 id="top">
			<img src="../chippywwr.png" alt="Chippy logo">
		</h1>

	</header>

<%= yield %>

</body>
</html>
